<div class="container">
  <h1>Login!</h1>

  <p><span id="errors">
    <% if @errors %>
      <%= @errors %>
    <% end %>
  </span></p>

  <form action="/user/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit!">
  </form><br>

  <p><a href='/user/signup'>Don't have an account? Signup!</a></p>

</div>
